@font-face {
  font-family: 'agenda';
  src: url(../../fonts/agendabold-webfont.woff) format("woff"), url(../../fonts/agendabold-webfont.woff2) format("woff2"); }
@font-face {
  font-family: 'montserrat';
  src: url(../../fonts/Montserrat-Bold.ttf) format("truetype"); }
@font-face {
  font-family: 'abel';
  src: url(../../fonts/Abel-Regular.ttf) format("truetype"); }
/* Breakpoints */
/* end of breakpoints */
html,
body {
  width: 100%;
  overflow-x: hidden; }

a {
  outline: 0;
  text-decoration: none; }

a:active {
  outline: 0; }

a:visited {
  outline: 0; }

input::-moz-focus-inner {
  border: 0; }

.center {
  text-align: center; }

/* Centering Hack */
.content {
  margin: 0px auto;
  display: table; }

.content > div {
  display: table-cell; }

/* Clearfix Hack */
/* Max height inherit */
.inherit-max-height {
  max-height: inherit; }

/* height inherit */
.inherit-height {
  height: inherit; }

.zero-margin, .header, .sub-header, .sub-sub-header, .text {
  margin: 0px; }

/* Flexbox */
.flex-parent-column {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  box-direction: normal;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  overflow: hidden; }

.flex-child-column {
  -webkit-box-flex: 1;
  box-flex: 1;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin: 10px; }

.flex-parent-row {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  box-direction: normal;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: center;
  box-pack: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  overflow: hidden; }

.flex-child-row {
  -webkit-box-flex: 1;
  box-flex: 1;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.flex-wrappable {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-parent-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/* end of flexbox */
.header {
  font-family: 'agenda', sans-serif;
  font-size: 7.993em;
  -webkit-font-kerning: auto;
          font-kerning: auto;
  line-height: 130%;
  padding-bottom: 5px;
  color: #2B2D3B; }
  @media only screen and (max-width: 991px) {
    .header {
      font-size: 5.993em; } }

.sub-header {
  font-family: 'abel', sans-serif;
  font-size: 5.653em;
  -webkit-font-kerning: auto;
          font-kerning: auto;
  line-height: 125%;
  padding-bottom: 5px;
  color: #2B2D3B; }
  @media only screen and (max-width: 991px) {
    .sub-header {
      font-size: 2.653em; } }

.sub-sub-header {
  font-size: 3.998em;
  -webkit-font-kerning: auto;
          font-kerning: auto;
  line-height: 120%;
  padding-bottom: 5px;
  font-family: 'abel', sans-serif;
  color: #2B2D3B; }
  @media only screen and (max-width: 991px) {
    .sub-sub-header {
      font-size: 1.998em; } }

.text {
  font-size: 1.414em;
  -webkit-font-kerning: auto;
          font-kerning: auto;
  line-height: 35px;
  font-family: 'EB Garamond', serif;
  color: #2B2D3B; }
  @media only screen and (max-width: 767px) {
    .text {
      font-size: 1.1em; } }

/* Misc */
.reading {
  max-width: 80vw;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 20px 10px; }
