@import 'base.scss';

body {
    background-color:#E1F7F7;
    max-width: 100vw;
}
.adjust-pgphs {
    margin-top:1px;
    margin-bottom:1px
}
.cubes {
    @include border-top-radius(20px);
    @include border-right-radius(20px);
    @include border-bottom-radius(20px);
    @include border-left-radius(20px);
    height:75px;
    width:75px;
    border-bottom:3px solid #2B2D42;
    margin:5px;
    display:inline-block;
    color:#fff
}
.cubes#one {
    background-color:#42517C;
}
.cubes#two {
    background-color:#FE5F55;
}
.cubes#three {
    background-color:#3F325D;
}
.cubes#four {
    background-color:#FFFFC7;
}
.cubes#\35 {
    background-color:#FFE066;
}
#home-title {
    @include border-style(null null solid);
    @include border-color(null null #FE5F55 null);
    @include border-width(0px 0px 5px 0px);
    position: static;
    //display: inline-block;
    font-size: 14.552em;
    line-height: 85%;
    padding-bottom: 0px;
    color: $primary-contrast-color;
}
#main-wrapper {
    height: 100%;
}
#accent-header {
    position: fixed;
    z-index: 2;
    height: 11px;
    width: 100vw;
    top: -2px;
    background-color: $secondary-color;
}
#header-section {
    @include background(linear-gradient(left, rgba(250,255,255,0.5) 10%,rgba(250,255,255,0.5) 90%),url("../../media/images/workdesk.jpg"));
    background-position: 50% 85%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    #one {
        @include flex(1 1 10%);
    }
    #two {
        @include flex(1 1 10%);
    }
    #push:nth-of-type(n) {
        @include flex(1 1 36%);
    }
    #push:nth-of-type(2n) {
        @include flex(1 1 44%);
    }
    .flex-parent-column {
        @include justify-content("center");
    }
}

#home-designation {
    position: static;
    display: block;
    font-size: 5em;
    margin: 5px 0px 0px 10px;
    color: #2B2D3B;
}

#header-brand {
    position: relative;
    align-content: center;
}

.navigation {
    right: 0px;
    > li {
        @include margin(0px 3px);
        display: inline-block;
        list-style: none;
        letter-spacing: 2px;
    }
    div {
        @extend .center;
        @include border-top-radius(3px);
        @include border-right-radius(3px);
        @include border-bottom-radius(3px);
        @include border-left-radius(3px);
        display: table-cell;
        cursor: pointer;
        width: 120px;
        vertical-align: middle;
        line-height: 40px;
        font-size: 1.2em;
        background-color: #FE5F55;
        text-transform: uppercase;
        text-decoration: none;
    }
}

#header-navigation {
    @include padding(20px 20px null null);
    float: right;
    clear: both;
    right: 0px;
    display: inline-block;
}

.block {
    height: 100%;
}
.block-preserve {
    @extend .block;
    @include transform-style(preserve-3d);
    position: relative;
}

#main-navigation {
    @include padding(10px null null null);
    @include margin(null 20px null null);
}

.home-section {
    height: 120vh;
    //max-height: 120vh;
}

#samples-section {
    height: auto;
    background-color:#3F325D;
    .section-header {
        color: white;
    }
    #one {
        @include flex(1 1 20%);
    }
    #two {
        @include flex(1 1 80%);
    }
}

#footer-section {
    height: auto;
    background-color: #2B2D3B;
    .section-header {
        color: white;
    }
    #one {
        @include flex(1 1 30%);
        font-size: 80%;
    }
    #two {
        @include flex(1 1 50%);
    }
    #three {
        @include flex(1 1 20%);
    }
}

.section-header {
    font-family: 'agenda', sans-serif;
    font-size: 5.96em;
    padding: 20px;
    text-decoration: none;
}
.picture-card {
    @include border-width(8px);
    @include border-style(solid);
    @include border-color(#DEE2E5);
    @include border-top-radius(0.25rem);
    @include border-right-radius(0.25rem);
    @include border-bottom-radius(0.25rem);
    @include border-left-radius(0.25rem);
    height: 250px;
    width: 420px;
    margin: 10px;
    background-color: #F7FCFF;
    border-bottom: 18px #DEE2E5 solid;
}
.top-margin {
    margin-top: 20px;
}
#hook-section {
    height: auto;
    max-height: none;
    .text {
        line-height: 180%;
    }
    #one{
        height: 20%;
    }
    #two {
        height: 80%;
    }
}

#author {
    @include transform(translateY(25%));
    position: static;
    font-family: 'agenda', sans-serif;
    font-size: 3.2rem;
    padding: 10px;
    text-decoration: none;
    color: #FE5F55;
}

#social-links {
    @include flex(1 1 100%);
    //@include transform(translateY(20%));
    position: static;
}

.contact-icons {
    display: inline-block;
    height: 65px;
    width: 65px;
    margin: 5px;
}

.inherit-max-immediate {
    height: inherit;
}
.flex-parent-column {
    @include display(flex);
    @include flex-direction(column);
    overflow: hidden;
}
.flex-child-column {
    @include flex(1 1 auto);
    margin: 10px;
}
.flex-parent-row {
    @include display("flex");
    @include flex-direction("row");
    //@include justify-content("flex-start");
    @include align-content("flex-start");
    overflow: hidden;
}
.flex-child-row {
    @include flex(1 1 auto);
}
.flex-wrappable {
    @include flex-wrap(wrap);
}

#project-gallery {
    @include justify-content("center");
    margin: 0px 50px;
    .flex-child-row {
        margin: 10px 15px;
    }
}
